<li data-type="button" data-key="save">
    <a class="grouped-left" title="Save remote file" aria-label="Save remote file">
        <button class="buttonicon buttonicon-file-alt" title="Save remote file" aria-label="Save remote file" id="epRemoteSaveButton"> SAVE</button>
    </a>
</li>
